<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Blog</title>
  <%- include('./head.ejs') %>
</head>
<body>
  <%- include('./navbar.ejs') %>
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          새 블로그를 만드는 중입니다...
        </h1>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>BloKode blog</strong> by <a href="https://thoratica.net">thoratica</a>.
        <br>
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
  <script src="/js/create.js"></script>
</body>
</html>