<div class="container nav">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/" style="margin-right: 2rem;">
        <b style="color: #3c82f4; margin-right: .3rem;">BloKode</b>blog
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          메인
        </a>
        <a class="navbar-item" href="/create">
          블로그 만들기
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            기타
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://blokode.xyz/editor" target="_blank">
              BloKode editor
            </a>
            <a class="navbar-item" href="https://blow.ga" target="_blank">
              BloKode url
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="mailto:me@thoratica.net">
              문의
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
        </div>
      </div>
    </div>
  </nav>
</div>