@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

.container:not(.nav) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
  font-style: normal !important;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}